
/* menu toggle stuff */

.mobileMenuToggle, .sideMenuToggle {
	display:none;
}

#toggle-menu {
    cursor: pointer;
    display: block;
    height: 50px;
    padding: 0;
    position: relative;
    top: 1px;
    left: 0px;
    width: 50px;
}
#toggle-menu div {
    width: 35px;
    height: 22px;
	position:absolute;
	top:50%;
	left:0;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
#toggle-menu span {
    display: block;
    width: 35px;
    height: 3px;
    background: #fff;
    position: absolute;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#toggle-menu span.top {
    top: 0px;
}
#toggle-menu span.middle {
    top: 9px;
}
#toggle-menu span.bottom {
    top: 18px;
}
.mobileMenuToggle.toggleVisible #toggle-menu span.top,
.sideMenuToggle.toggleVisible #toggle-menu span.top {
    -webkit-animation: inTop 0.8s forwards;
    -moz-animation: inTop 0.8s forwards;
    animation: inTop 0.8s forwards;
    background: #ff6700;
}
.mobileMenuToggle.toggleVisible #toggle-menu span.middle,
.sideMenuToggle.toggleVisible #toggle-menu span.middle {
    -webkit-animation: inMiddle 0.8s forwards;
    -moz-animation: inMiddle 0.8s forwards;
    animation: inMiddle 0.8s forwards;
    background: #ff6700;
}
.mobileMenuToggle.toggleVisible #toggle-menu span.bottom,
.sideMenuToggle.toggleVisible #toggle-menu span.bottom {
    -webkit-animation: inBottom 0.8s forwards;
    -moz-animation: inBottom 0.8s forwards;
    animation: inBottom 0.8s forwards;
    background: #ff6700;
}
.mobileMenuToggle.toggleHidden #toggle-menu span.top,
.sideMenuToggle.toggleHidden #toggle-menu span.top {
    -webkit-animation: outTop 0.8s backwards;
    -webkit-animation-direction: reverse;
    -moz-animation: outTop 0.8s backwards;
    -moz-animation-direction: reverse;
    animation: outTop 0.8s backwards;
    animation-direction: reverse;
}
.mobileMenuToggle.toggleHidden #toggle-menu span.middle,
.sideMenuToggle.toggleHidden #toggle-menu span.middle {
    -webkit-animation: outMiddle 0.8s backwards;
    -webkit-animation-direction: reverse;
    -moz-animation: outMiddle 0.8s backwards;
    -moz-animation-direction: reverse;
    animation: outMiddle 0.8s backwards;
    animation-direction: reverse;
}
.mobileMenuToggle.toggleHidden #toggle-menu span.bottom,
.sideMenuToggle.toggleHidden #toggle-menu span.bottom {
    -webkit-animation: outBottom 0.8s backwards;
    -webkit-animation-direction: reverse;
    -moz-animation: outBottom 0.8s backwards;
    -moz-animation-direction: reverse;
    animation: outBottom 0.8s backwards;
    animation-direction: reverse;
}

@-webkit-keyframes inMiddle {
    25% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@-moz-keyframes inMiddle {
    25% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(45deg);
    }
}

@keyframes inMiddle {
    25% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outMiddle {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@-moz-keyframes outMiddle {
    50% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(45deg);
    }
}

@keyframes outMiddle {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inTop {
    0% {
        top: 0;
    }
    25% {
        top: 9px;
        -webkit-transform: rotate(0deg);
    }
    100% {
        top: 9px;
        -webkit-transform: rotate(135deg);
    }
}

@-moz-keyframes inTop {
    0% {
        top: 0;
    }
    25% {
        top: 9px;
        -moz-transform: rotate(0deg);
    }
    100% {
        top: 9px;
        -moz-transform: rotate(135deg);
    }
}

@keyframes inTop {
    0% {
        top: 0;
    }
    25% {
        top: 9px;
        transform: rotate(0deg);
    }
    100% {
        top: 9px;
        transform: rotate(135deg);
    }
}

@-webkit-keyframes outTop {
    0% {
        top: 0;
    }
    50% {
        top: 9px;
        -webkit-transform: rotate(0deg);
    }
    100% {
        top: 9px;
        -webkit-transform: rotate(135deg);
    }
}

@-moz-keyframes outTop {
    0% {
        top: 0;
    }
    50% {
        top: 9px;
        -moz-transform: rotate(0deg);
    }
    100% {
        top: 9px;
        -moz-transform: rotate(135deg);
    }
}

@keyframes outTop {
    0% {
        top: 0;
    }
    50% {
        top: 9px;
        transform: rotate(0deg);
    }
    100% {
        top: 9px;
        transform: rotate(135deg);
    }
}

@-webkit-keyframes inBottom {
    0% {
        top: 9px;
    }
    25% {
        top: 9px;
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        top: 9px;
        -webkit-transform: rotate(135deg);
        opacity: 0;
    }
}

@-moz-keyframes inBottom {
    0% {
        top: 18px;
    }
    25% {
        top: 9px;
        -moz-transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        top: 9px;
        -moz-transform: rotate(135deg);
        opacity: 0;
    }
}

@keyframes inBottom {
    0% {
        top: 18px;
    }
    25% {
        top: 9px;
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        top: 9px;
        transform: rotate(135deg);
        opacity: 0;
    }
}

@-webkit-keyframes outBottom {
    0% {
        top: 18px;
    }
    50% {
        top: 9px;
        -webkit-transform: rotate(0deg);
        opacity: 0;
    }
    100% {
        top: 9px;
        -webkit-transform: rotate(135deg);
        opacity: 1;
    }
}

@-moz-keyframes outBottom {
    0% {
        top: 18px;
    }
    50% {
        top: 9px;
        -moz-transform: rotate(0deg);
        opacity: 0;
    }
    100% {
        top: 9px;
        -moz-transform: rotate(135deg);
        opacity: 1;
    }
}

@keyframes outBottom {
    0% {
        top: 18px;
    }
    50% {
        top: 9px;
        transform: rotate(0deg);
        opacity: 0;
    }
    100% {
        top: 9px;
        transform: rotate(135deg);
        opacity: 1;
    }
}


@media screen and (max-width:992px) {

.mobileMenuToggle {
    display: block;
}

.mainMenu-wrap {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
.mainMenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.mob-menu-line {
		display: flex;
		justify-content: center;
    top: 18%;
    /*position: absolute;
    text-align: center;
    left: 0;
    right: 0;
		padding:0 15px;*/
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mainMenu ul li {
    float: none;
    display: block;
    padding-left: 0;
	text-align:center;
}
.mainMenu ul li a {
    display: inline-block;
}
.mainMenu ul li.active a::after,
.mainMenu ul li a::after {
	display:none;
}
.mainMenu ul > li:first-child:before {
	display:inline-block;
}
.mainMenu ul li:after,
.mainMenu ul li:before {
	content:url("../img/menu-star.png");
	display:inline-block;
	position:relative;
	top:0;
	left:0;
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
.mainMenu ul li:after {
	left:auto;
	right:0;
}
.mainMenu ul li a {
    display: inline-block;
    font-size: 2em;
    padding: 0.5em 15px;
    padding: 2vh 15px;
	margin:0;
    margin: 1vh 0;
}
/*.mainMenu ul li a::before {
    content: '';
    display: none;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: -11px;
    right: -11px;
}*/
.mainMenu ul li.active a::before {
    display: block;
}

.mobileMenuToggle {
    z-index: 99;
}
.mobileMenuToggle .non-mobile {
	display:none;
}
.mainMenu-wrap {
	display:none;
}


}

@media screen and (max-width:400px) {

.mainMenu ul li a {
    font-size: 1.5em;
}

}
